doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    script(src="#{webpack_asset('vendors')}")

  body
    block content

    script(src="/socket.io/socket.io.js")
    script(src="#{webpack_asset('main')}")


