html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  padding: 5px;
}

#main canvas {
  border: 1px solid black;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
